/* Declaring variables to make them more accessible */
:root {
  --apricotPeach: #fbc2b2;
  --pharlap: #a87f84;
  --eraser: #c18d92;
  color: var(--pharlap);
  --border1: 8px solid var(--pharlap);
}

/* Setting background color, font, and text color*/
body {
  background-color: var(--apricotPeach);
  font-family: "Lucida Console", "Courier New", monospace;
  color: var(--Pharlap);
  margin: 20px;
}

/* Makes h1 font bigger for better visibility */
h1 {
  font-size: 35px;
}

/* Makes h2 font bigger for better visibility */
h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
}

h5 {
  font-weight: bold;
}

/* Removed traditional link styling */
a {
  text-decoration: none;
  color: var(--pharlap);
  font-size: 20px;
}

a:hover {
  color: #5c4043;
}

/* Added hovering effect so user knows mouse is over a link */
.customNavbar a:hover {
  color: #5c4043;
}

.customNavbar {
  background: none;
  border-radius: 25px;
  border: var(--border1);
  color: var(--Pharlap);
}

.customNavbar a {
  color: var(--Pharlap);
}

/* Display set to flex so child elements can change from row to column in smaller windows and so text can be side to side with image in big windows*/
.aboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Add border to profile image and changes shape from square to circle */
.profile {
  border-radius: 50%;
  border: var(--border1);
}

/* Resizes profile image */
.aboutMe .profile {
  max-height: 200px;
  max-width: 200px;
}

/* Restricts how wide the text is */
.aboutMe p {
  max-width: 300px;
  align-items: center;
  font-size: 30px;
}
/* Display set to flex so child elements can change from row to column in smaller windows and so bulleted list can be side to side with statement */
.skills {
  display: flex;
  justify-content: center;
}

.skills p {
  display: inline-block;
  max-width: 300px;
  align-items: center;
  font-size: 30px;
}

/* Set flex basis to 40% so 2 work samples can display on same row in big windows */
.customCard {
  padding: 20px;
  border: var(--border1);
  margin: 10px;
  background: none;
}

/* Added hovering effect so user knows mouse is over section with a link */
.customCard:hover {
  border: #5c4043 solid 8px;
  padding: 20px;
  margin: 10px;
  color: #5c4043;
  cursor: pointer;
}

/* Adjusts positioning*/
.contactSection {
  display: flex;
  justify-content: center;
}

/* Sizes images in contacts */
.contactSection .contactIcon {
  height: 40px;
  width: 40px;
  margin: 10px;
  display: flex;
}

/* When the screen size is changed to 768px or less rows transform into columns for better viewability */
@media screen and (max-width: 768px) {
  h1 {
    text-align: center;
  }
  header,
  nav,
  nav ul li {
    flex-direction: column;
    justify-content: center;
  }
  .aboutMe {
    flex-direction: column;
    justify-content: center;
  }
  .aboutMe p {
    max-width: 100%;
    text-align: center;
  }
  .aboutMe .profile {
    justify-content: center;
  }
}
